@model EcommerceApp_Practice.Models.CustomerEditViewModel

    <div class="card">
        <div class="card-header">
            <h1>Customer Edit</h1>
        </div>
        <div class="card-body">
            <form method="post">
                <input type="hidden" asp-for="Id" />
                <label for="CustomerType">Customer Type</label>
                <select type="text" asp-for="CustomerTypeId" asp-items="Model.CustomerTypeItems" class="form-control">
                    <option>Select...</option>
                </select>
                <span asp-validation-for="CustomerTypeId" class="text-danger"></span>
                <label for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control" />
                <label for="Phone">Phone</label>
                <input asp-for="Phone" type="text" class="form-control" />
                <label for="Address">Address</label>
                <input asp-for="Address" type="text" class="form-control" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </form>
        </div>
    </div>

